{% extends "layout.html" %}
{% block content %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend><h2>Add a New Product</h2></legend>
            <div class="form-group">
                {{ form.name.label }}<br>
                {{ form.name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.description.label }}<br>
                {{ form.description(class="form-control", rows=5) }}
            </div>
            <div class="form-group">
                {{ form.price.label }}<br>
                {{ form.price(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.stock_quantity.label }}<br>
                {{ form.stock_quantity(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.category.label }}<br>
                {{ form.category(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.image_url.label }} (Optional)<br>
                {{ form.image_url(class="form-control") }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn") }}
        </div>
    </form>
{% endblock content %}

