{% extends "layout.html" %}
{% block content %}

<div class="form-wrapper">
    <div class="form-card">

        <h2>Add New Product</h2>

        <form method="POST">
    {{ form.hidden_tag() }}

    <div class="form-group">
        <label>Product Name</label>
        {{ form.name(class="modern-input") }}
    </div>

    <div class="form-group">
        <label>Description</label>
        {{ form.description(class="modern-input") }}
    </div>

    <div class="form-row">
        <div>
            <label>Price</label>
            {{ form.price(class="modern-input") }}
        </div>
        <div>
            <label>Stock</label>
            {{ form.stock_quantity(class="modern-input") }}
        </div>
    </div>

    <div class="form-group">
        <label>Category</label>
        {{ form.category(class="modern-input") }}
    </div>

    <div class="form-group">
        <label>Image URL</label>
        {{ form.image_url(class="modern-input") }}
    </div>
        <div class="form-group">
            <label>Discount (%)</label>
            {{ form.discount_percent(class="modern-input") }}

    <button type="submit" class="modern-btn">
        Add Product
    </button>
</form>
    </div>
</div>

{% endblock %}