{% extends "layout.html" %}
{% block content %}

<div class="container">
    <h2>💰 Sales Analytics</h2>

    <!-- SUMMARY -->
   <div class="sales-summary">

    <div class="sales-card">
        <h3>Total Revenue</h3>
        <p>₹ {{ total_sales }}</p>
    </div>

    <div class="sales-card">
        <h3>Total Orders</h3>
        <p>{{ total_orders }}</p>
    </div>

    <div class="sales-card">
        <h3>Avg Order Value</h3>
        <p>₹ {{ avg_order_value }}</p>
    </div>

</div>
    <hr>

    <!-- ORDER SALES TABLE -->
    <h3>Order Wise Sales</h3>

    <table border="1" width="100%" cellpadding="10">
        <tr>
            <th>Order ID</th>
            <th>User ID</th>
            <th>Total Amount</th>
            <th>Date</th>
        </tr>

        {% for order in orders %}
        <tr>
            <td>{{ order.order_id }}</td>
            <td>{{ order.user_id }}</td>
            <td>₹ {{ order.total_amount }}</td>
            <td>{{ order.order_date }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
