{% extends "layout.html" %}
{% block content %}

<h2>All Orders</h2>

<table border="1" cellpadding="10" width="100%">
    <tr>
        <th>Order ID</th>
        <th>User ID</th>
        <th>Total Amount</th>
        <th>Status</th>
        <th>Update</th>
    </tr>

    {% for order in orders %}
    <tr>
        <td>#{{ order.order_id }}</td>
        <td>{{ order.user_id }}</td>
        <td>₹ {{ order.total_amount }}</td>

        <td>
            <form method="POST" action="{{ url_for('main.update_order_status', order_id=order.order_id) }}">
                <select name="status">
                    <option value="Pending" {% if order.status == 'Pending' %}selected{% endif %}>Pending</option>
                    <option value="Confirmed" {% if order.status == 'Confirmed' %}selected{% endif %}>Confirmed</option>
                    <option value="Shipped" {% if order.status == 'Shipped' %}selected{% endif %}>Shipped</option>
                    <option value="Delivered" {% if order.status == 'Delivered' %}selected{% endif %}>Delivered</option>
                </select>
        </td>

        <td>
                <button type="submit">Save</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
