{% extends "layout.html" %}
{% block content %}

<div class="admin-dashboard">

  <!-- TOP STATS -->
 <div class="stats-grid">

    <!-- TOTAL USERS -->
    <a href="{{ url_for('main.admin_users') }}" class="stat-card blue">
        <h4>Total Users</h4>
        <p>{{ total_users }}</p>
    </a>

    <!-- TOTAL PRODUCTS -->
    <a href="{{ url_for('main.admin_products') }}" class="stat-card green">
        <h4>Total Products</h4>
        <p>{{ total_products }}</p>
    </a>

    <!-- TOTAL ORDERS -->
     <a href="{{ url_for('main.admin_orders') }}" class="stat-card orange">
            <h4>Total Orders</h4>
            <h2>{{ total_orders }}</h2>
        </a>

    <!-- TOTAL SALES -->
    <a href="{{ url_for('main.admin_sales') }}" class="stat-card purple">
            <h4>Total Sales</h4>
            <h2>₹ {{ total_sales }}</h2>
        </a>


    <!-- LOW STOCK -->
   <a href="{{ url_for('main.admin_low_stock') }}" class="stat-card red">
            <h4>Low Stock</h4>
            <h2>{{ low_stock_products }}</h2>
        </a>


</div>

  <!-- AI FORECAST -->
  <div class="chart-box">
    <h2>AI Sales Forecast (Next 30 Days)</h2>
    <canvas id="forecastChart"></canvas>
  </div>

</div>

<!-- Chart JS -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const forecastData = {{ forecast_data | tojson | safe }};

  const labels = forecastData.map(d => d.date);
  const values = forecastData.map(d => d.predicted_sales);

  new Chart(document.getElementById("forecastChart"), {
    type: "line",
    data: {
      labels: labels,
      datasets: [{
        label: "Predicted Sales",
        data: values,
        borderColor: "#2563eb",
        backgroundColor: "rgba(37,99,235,0.2)",
        tension: 0.4,
        fill: true
      }]
    },
    options: {
      responsive: true,
      plugins: {
        legend: { display: true }
      }
    }
  });
</script>

{% endblock %}
