<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CommerceIQ AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav class="navbar">
    <div class="logo">
        <a href="{{ url_for('main.home') }}">CommerceIQ AI</a>
    </div>

   <ul class="nav-links">
    <li><a href="{{ url_for('main.home') }}">Home</a></li>

    {% if current_user.is_authenticated %}

        {% if current_user.role == 'admin' %}
            <li><a href="{{ url_for('main.admin_dashboard') }}">Admin Dashboard</a></li>
            <li><a href="{{ url_for('main.add_product') }}">Add Product</a></li>
        {% else %}
            <!-- CUSTOMER OPTIONS -->
            <li>
                <a href="{{ url_for('main.cart') }}">
                    🛒 Cart
                    {% if session.get('cart') %}
                        <span class="cart-count">{{ session['cart']|length }}</span>
                    {% endif %}
                </a>
            </li>
            <li><a href="{{ url_for('main.profile') }}">My Profile</a></li>
            <li><a href="{{ url_for('main.cart') }}">My Orders</a></li>

        {% endif %}

       <li class="profile-dropdown">
    <span class="profile-btn">
        👤 {{ current_user.username }} ▾
    </span>

    <ul class="dropdown-menu">
    <li><a href="{{ url_for('main.profile') }}">My Profile</a></li>
    <li><a href="{{ url_for('main.cart') }}">My Orders</a></li>
    <li><a href="{{ url_for('main.logout') }}">Logout</a></li>
</ul>

</li>

    {% else %}
        <li><a href="{{ url_for('main.login') }}">Login</a></li>
        <li><a href="{{ url_for('main.register') }}">Register</a></li>
    {% endif %}
</ul>



</nav>




<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</div>
<footer class="footer">
    <p>CommerceIQ AI</p>
    <p>Address: Ahmedabad, Gujarat, India</p>
    <p>Email: support@commerceiq.ai</p>
</footer>


</body>
</html>
