<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CommerceIQ AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<nav>
    <h1><a href="{{ url_for('main.home') }}">CommerceIQ AI</a></h1>

</nav>

<ul class="nav-links">
    <li><a href="{{ url_for('main.home') }}">Home</a></li>

    {% if current_user.is_authenticated %}
        <li>
            <a href="{{ url_for('main.cart') }}">
                🛒 Cart
                {% if session.get('cart') %}
                    ({{ session['cart']|length }})
                {% endif %}
            </a>
        </li>

        {% if current_user.role == 'admin' %}
            <li><a href="{{ url_for('main.admin_dashboard') }}">Admin</a></li>
        {% endif %}

        <li><a href="{{ url_for('main.logout') }}">Logout</a></li>
    {% else %}
        <li><a href="{{ url_for('main.login') }}">Login</a></li>
        <li><a href="{{ url_for('main.register') }}">Register</a></li>
    {% endif %}
</ul>



<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</div>

</body>
</html>
