{% extends "layout.html" %}
{% block content %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend><h2>Log In</h2></legend>
            <div class="form-group">
                {{ form.email.label }}<br>
                {{ form.email(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.password.label }}<br>
                {{ form.password(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.remember() }}
                {{ form.remember.label }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn") }}
        </div>
    </form>
    <small>
        Need An Account? <a href="{{ url_for('main.register') }}">Sign Up Now</a>
    </small>
{% endblock content %}

